<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:title"        content="<%-dynamicClock%>" />
        <meta property="og:type"         content="article">
        <meta property="og:url"          content="http://doadordeorgaos.com/">
        <meta property="og:description"  content="Doar órgãos é um ato de amor e solidariedade. O nosso país tem o maior programa público de transplantes de órgãos, tecidos e células do mundo.">
        <meta property="og:image"        content=<%-dynamicImg%> />
        <meta property="og:image:type"   content="image/jpeg">
        <meta property="og:image:width"  content="1200">
        <meta property="og:image:height" content="1200">
        <meta http-equiv="refresh" content="12; url=http://portalarquivos.saude.gov.br/campanhas/doeorgaos/">
        <title>Doação de Órgãos</title>
    </head>
    <body>carregando...</body>
</html> 